body {
  padding: 25px 100px;
  font-family: monospace;
  font-size: 18pt;
  font-weight: 700;
}

#age,
#hours,
#starting-age {
  font-family: monospace;
  font-size: 32pt;
  font-weight: 700;
  width: 100px;
  color: black;
  text-align: center;
  border: none;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: black;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 15px;
}

#age:focus,
#hours:focus,
#starting-age:focus {
  outline: none;
}
.fa-twitter{
  color: #1DA1F2;
}

.fa:hover {
  opacity: 0.7;
}

button {
  font-size: 18pt;
  font-family: monospace;
  font-weight: 700;
  border-color: black;
  border-width: 5px;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

a:hover{
  cursor: pointer
}

span {
  padding: 5px 15px;
  background-color: rgba(255, 0, 0, 0.3);
}

h2 {
  line-height: 2em;
  font-family: monospace;
}

a {
  color: #1DA1F2;
  text-decoration: none;
}

#blog-post {
  color: rgba(255, 0, 0, 0.4);
}
